<h1>Applicants for <%= @classfield.title %></h1>

<table>
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user_classfields.each do |user_classfield| %>
      <tr>
        <td><%= user_classfield.user.email %></td>
        <td><%= user_classfield.status %></td>
        <td>
          <% if user_classfield.pending? %>
            <%= button_to 'Accept', classfield_user_classfield_path(@classfield, user_classfield, user_classfield: { status: :accepted }), method: :patch, data: { turbo: false } %>
            <%= button_to 'Reject', classfield_user_classfield_path(@classfield, user_classfield, user_classfield: { status: :rejected }), method: :patch, data: { turbo: false } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>