<h1>My Applications</h1>

<%= link_to "Posted Jobs", my_classfields_path %>
<%= link_to "Job applications", my_applications_path%>

<% if @user_classfields.any? %>
  <table>
    <thead>
      <tr>
        <th>Job</th>
        <th>Job poster</th>
        <th>Status</th>
        <th>Phone number</th>
      </tr>
    </thead>
    <tbody>
      <% @user_classfields.each do |user_classfield| %>
        <tr>
          <td><%= link_to user_classfield.classfield.title, classfield_path(user_classfield.classfield, data:{turbo_frame: "modal"})%></td>
          <td><%= user_classfield.classfield.user.email %></td>
          <td><%= user_classfield.status %></td>
          <% if user_classfield.status == "accepted"%>
            <td><%= user_classfield.classfield.user.phone_number%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>