<!DOCTYPE html>
<html>
  <header class="header">
    <nav class="nav__container">
      <div class="nav__logo">
        <h1 class="logo">Logo</h1>
      </div>
      <ul class="nav__links">
        <li class="nav__link">
          <%= link_to "Categories", categories_path%>
        </li>
        <% if user_signed_in? %>
          <li class="nav__link">
            <%= link_to "Profile", users_profiles_path %>
          </li>
        <li class="nav__link">
          <%= link_to "My dashboard", user_classfields_path %>
        </li>
        <li class="nav__link">
          <%= link_to "Sign out", destroy_user_session_path %>
        </li>
        <% else %>
          <li class ="nav_link">
             <%= link_to "Sign in", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
</html>